@page "/learnBlazor/bindProp"

<h3>Product - Data Binding</h3>

Name : @Product.Name
<br />
<input type="text" @bind="@Product.Name" @bind:event="oninput" />
<br />
This  Product is : @(Product.IsActive ? "Active" : "Inactive")
<br />
Input IsActive:
<input type="checkbox" @bind="@Product.IsActive" />
<br />
Price: @Product.Price
<br />
Input Price:
<input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />

<br />
Product Properties:
<select @bind="selectedProp">
    @foreach (var prop in Product.Product_Props)
    {
        <option value="@prop.Key">@prop.Key</option>
    }
</select>

<br />
Selected Prod = @selectedProp
<br />
@if (!string.IsNullOrEmpty(selectedProp))
{
    <p>Selected Value : @Product.Product_Props.FirstOrDefault(x => x.Key == selectedProp).Value</p>
}

@code {
    private string selectedProp = "";

    Product Product = new()
        {
            Id = 1,
            Name = "Product 1",
            IsActive = true,
            Price = 10,

            Product_Props = new List<Product_Prop>()
            {
                new Product_Prop
                {
                    Id = 1,
                    Key = "Color",
                    Value = "Red"
                },
                new Product_Prop
                {
                    Id = 2,
                    Key = "Size",
                    Value = "20oz"
                },
                new Product_Prop
                {
                    Id = 3,
                    Key = "Flavor",
                    Value = "Rose"
                }
            }
        };
}
